<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Skincare</title>

    {{> font}}
    {{> css}}
</head>
<body class ="bg-white">

    <!-- NAVBAR -->
    <div class="w-full bg-secondary-pink">
        <div class="w-full max-w-[350px] lg:max-w-[1050px] 2xl:max-w-[1500px] mx-auto">
            {{> navbar}}
       </div>
    </div>

    <!-- PWMBUNGKUS ISI -->
    <div class="w-full max-w-[350px] lg:max-w-[1050px] 2xl:max-w-[1500px] mx-auto py-[20px]">
        <!-- HEADER -->
        <div class="flex flex-col gap-y-[12px] lg:flex-row lg:justify-between lg:items-center">

            <p class="font-poppins text-[20px] text-primary-pink font-bold lg:text-[20px]">Yuk, Lihat-Lihat Produk Dulu!</p>

            <form action="/products" method="get" class="flex flex-row gap-x-[12px]">
                <!-- search -->
                <div class="flex flex-row items-center border w-fit rounded-[16px] px-[8px] py-[4px] border-[#D9D9D9] shadow-md">
                    <svg class="w-[25px]" viewBox="0 -0.5 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M7.30524 15.7137C6.4404 14.8306 5.85381 13.7131 5.61824 12.4997C5.38072 11.2829 5.50269 10.0233 5.96924 8.87469C6.43181 7.73253 7.22153 6.75251 8.23924 6.05769C10.3041 4.64744 13.0224 4.64744 15.0872 6.05769C16.105 6.75251 16.8947 7.73253 17.3572 8.87469C17.8238 10.0233 17.9458 11.2829 17.7082 12.4997C17.4727 13.7131 16.8861 14.8306 16.0212 15.7137C14.8759 16.889 13.3044 17.5519 11.6632 17.5519C10.0221 17.5519 8.45059 16.889 7.30524 15.7137V15.7137Z" stroke="#C4C4C4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M11.6702 7.20292C11.2583 7.24656 10.9598 7.61586 11.0034 8.02777C11.0471 8.43968 11.4164 8.73821 11.8283 8.69457L11.6702 7.20292ZM13.5216 9.69213C13.6831 10.0736 14.1232 10.2519 14.5047 10.0904C14.8861 9.92892 15.0644 9.4888 14.9029 9.10736L13.5216 9.69213ZM16.6421 15.0869C16.349 14.7943 15.8741 14.7947 15.5815 15.0879C15.2888 15.381 15.2893 15.8559 15.5824 16.1485L16.6421 15.0869ZM18.9704 19.5305C19.2636 19.8232 19.7384 19.8228 20.0311 19.5296C20.3237 19.2364 20.3233 18.7616 20.0301 18.4689L18.9704 19.5305ZM11.8283 8.69457C12.5508 8.61801 13.2384 9.02306 13.5216 9.69213L14.9029 9.10736C14.3622 7.83005 13.0496 7.05676 11.6702 7.20292L11.8283 8.69457ZM15.5824 16.1485L18.9704 19.5305L20.0301 18.4689L16.6421 15.0869L15.5824 16.1485Z" fill="#C4C4C4"></path> </g></svg>

                    <input class="w-[120px] focus:outline-none font-poppins text-[12px] focus:ring-0 focus:border-none border-none" type="text" placeholder="Cari Produk" name="search" value="{{search}}">
                </div>

                <!-- JENIS KULIT -->
                <select class="border px-[8px] py-[4px] border-[#D9D9D9] rounded-[16px] text-[#7F7F7F] font-poppins text-[12px] shadow-md" name="skinType" onchange="this.form.submit()">
                    <option value=""  class="font-poppins text-[14px] text-[#7F7F7F]">Jenis Kulit</option>
                    <option value="Kulit Kering" {{#ifEquals skinType "Kulit Kering"}}selected{{/ifEquals}} class="font-poppins text-[14px] text-[#7F7F7F]">Kulit Kering</option>
                    <option value="Kulit Normal" {{#ifEquals skinType "Kulit Normal"}}selected{{/ifEquals}} class="font-poppins text-[14px] text-[#7F7F7F]">Kulit Normal</option>
                    <option value="Kulit Berminyak" {{#ifEquals skinType "Kulit Berminyak"}}selected{{/ifEquals}} class="font-poppins text-[14px] text-[#7F7F7F]">Kulit Berminyak</option>
                    <option value="Kulit Kombinasi" {{#ifEquals skinType "Kulit Kombinasi"}}selected{{/ifEquals}} class="font-poppins text-[14px] text-[#7F7F7F]">Kulit Kombinasi</option>
                    <option value="Kulit Sensitif" {{#ifEquals skinType "Kulit Sensitif"}}selected{{/ifEquals}} class="font-poppins text-[14px] text-[#7F7F7F]">Kulit Sensitif</option>
                </select>
            </form>
        </div>
    </div>
    {{#if products.length}}
        <!-- KATEGORI MICELLAR WATER -->
        {{#if micellarWaterProducts.length}}
        <div class="w-full bg-[#FFF9FC] py-[20px]">
            <div class="w-full max-w-[350px] lg:max-w-[1050px] 2xl:max-w-[1500px] mx-auto">
                <div class="flex flex-col gap-y-[16px]">
                    <p class="font-poppins text-[20px] text-primary-pink font-bold lg:text-[20px]">MICELLAR WATER</p>

                    <!-- PEMBUNGKUS ITEM -->
                    <div class="grid grid-cols-2 lg:grid-cols-4 2xl:grid-cols-6 gap-x-[20px] gap-y-[20px]">
                        <!-- item -->
                        {{#each micellarWaterProducts}}
                        <div class="flex flex-col  bg-white  rounded-[12px] shadow-lg">
                            <img src="{{this.image}}" alt="" class="w-full h-full rounded-t-[12px]">
                            <div class="flex flex-col border-x-2 border-b-2 border-primary-pink rounded-b-[12px] px-[12px] py-[8px] gap-y-[8px]">
                                <p class="font-poppins font-bold text-primary-pink text-[12px] text-center lg:text-[14px] 2xl:text-[16px] ">{{this.name}}</p>
                                <div class="flex flex-row justify-between items-center">
                                    <p class="font-poppins font-medium text-primary-gray text-[10px] lg:text-[12px] 2xl:text-[14px] capitalize" >{{this.skin_type.name}}</p>
                                    <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="flex items-center justify-center rounded-[12px] bg-primary-pink px-[16px] py-[4px] hover:scale-105" 
                                    data-name="{{this.name}}"
                                    data-description="{{this.description}}"
                                    data-skin-type="{{this.skin_type.name}}"
                                    data-benefit="{{this.benefit}}"
                                    data-ingredient="{{this.ingredient}}"
                                    data-instruction="{{this.instruction}}"
                                    data-image="{{this.detailImage}}"
                                    data-link="{{this.link_url}}">
                                        <p class="font-poppins font-medium text-white text-[12px] lg:text-[12px] 2xl:text-[16px]">Detail</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

        <!-- KATEGORI FACE WASH -->
        {{#if faceWashProducts.length}}
        <div class="w-full bg-[#FFF9FC] py-[20px]">
            <div class="w-full max-w-[350px] lg:max-w-[1050px] 2xl:max-w-[1500px] mx-auto">
                <div class="flex flex-col gap-y-[12px]">
                    <p class="font-poppins text-[20px] text-primary-pink font-bold lg:text-[20px]">FACE WASH</p>

                    <!-- PEMBUNGKUS ITEM -->
                    <div class="grid grid-cols-2 lg:grid-cols-4 2xl:grid-cols-6 gap-x-[20px] gap-y-[20px]">
                        <!-- item -->
                        {{#each faceWashProducts}}
                        <div class="flex flex-col  bg-white  rounded-[12px] shadow-lg">
                            <img src="{{this.image}}" alt="" class="w-full h-full rounded-t-[12px]">
                            <div class="flex flex-col border-x-2 border-b-2 border-primary-pink rounded-b-[12px] px-[12px] py-[8px] gap-y-[8px]">
                                <p class="font-poppins font-bold text-primary-pink text-[12px] text-center lg:text-[14px] 2xl:text-[16px] ">{{this.name}}</p>
                                <div class="flex flex-row justify-between items-center">
                                    <p class="font-poppins font-medium text-primary-gray text-[10px] lg:text-[12px] 2xl:text-[14px] capitalize" >{{this.skin_type.name}}</p>
                                    <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="flex items-center justify-center rounded-[12px] bg-primary-pink px-[16px] py-[4px] hover:scale-105" 
                                    data-name="{{this.name}}"
                                    data-description="{{this.description}}"
                                    data-skin-type="{{this.skin_type.name}}"
                                    data-benefit="{{this.benefit}}"
                                    data-ingredient="{{this.ingredient}}"
                                    data-instruction="{{this.instruction}}"
                                    data-image="{{this.detailImage}}"
                                    data-link="{{this.link_url}}">
                                        <p class="font-poppins font-medium text-white text-[12px] lg:text-[12px] 2xl:text-[16px]">Detail</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

        <!-- KATEGORI TONER -->
        {{#if tonerProducts.length}}
        <div class="w-full bg-[#FFF9FC] py-[20px]">
            <div class="w-full max-w-[350px] lg:max-w-[1050px] 2xl:max-w-[1500px] mx-auto">
                <div class="flex flex-col gap-y-[12px]">
                    <p class="font-poppins text-[20px] text-primary-pink font-bold lg:text-[20px]">TONER</p>

                    <!-- PEMBUNGKUS ITEM -->
                    <div class="grid grid-cols-2 lg:grid-cols-4 2xl:grid-cols-6 gap-x-[20px] gap-y-[20px]">
                        <!-- item -->
                        {{#each tonerProducts}}
                        <div class="flex flex-col  bg-white  rounded-[12px] shadow-lg">
                            <img src="{{this.image}}" alt="" class="w-full h-full rounded-t-[12px]">
                            <div class="flex flex-col border-x-2 border-b-2 border-primary-pink rounded-b-[12px] px-[12px] py-[8px] gap-y-[8px]">
                                <p class="font-poppins font-bold text-primary-pink text-[12px] text-center lg:text-[14px] 2xl:text-[16px] ">{{this.name}}</p>
                                <div class="flex flex-row justify-between items-center">
                                    <p class="font-poppins font-medium text-primary-gray text-[10px] lg:text-[12px] 2xl:text-[14px] capitalize" >{{this.skin_type.name}}</p>
                                    <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="flex items-center justify-center rounded-[12px] bg-primary-pink px-[16px] py-[4px] hover:scale-105"
                                    data-name="{{this.name}}"
                                    data-description="{{this.description}}"
                                    data-skin-type="{{this.skin_type.name}}"
                                    data-benefit="{{this.benefit}}"
                                    data-ingredient="{{this.ingredient}}"
                                    data-instruction="{{this.instruction}}"
                                    data-image="{{this.detailImage}}"
                                    data-link="{{this.link_url}}">
                                        <p class="font-poppins font-medium text-white text-[12px] lg:text-[12px] 2xl:text-[16px]">Detail</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

        <!-- KATEGORI SERUM -->
        {{#if serumProducts.length}}
        <div class="w-full bg-[#FFF9FC] py-[20px]">
            <div class="w-full max-w-[350px] lg:max-w-[1050px] 2xl:max-w-[1500px] mx-auto">
                <div class="flex flex-col gap-y-[12px]">
                    <p class="font-poppins text-[20px] text-primary-pink font-bold lg:text-[20px]">SERUM</p>

                    <!-- PEMBUNGKUS ITEM -->
                    <div class="grid grid-cols-2 lg:grid-cols-4 2xl:grid-cols-6 gap-x-[20px] gap-y-[20px]">
                        <!-- item -->
                        {{#each serumProducts}}
                        <div class="flex flex-col  bg-white  rounded-[12px] shadow-lg">
                            <img src="{{this.image}}" alt="" class="w-full h-full rounded-t-[12px]">
                            <div class="flex flex-col border-x-2 border-b-2 border-primary-pink rounded-b-[12px] px-[12px] py-[8px] gap-y-[8px]">
                                <p class="font-poppins font-bold text-primary-pink text-[12px] text-center lg:text-[14px] 2xl:text-[16px] ">{{this.name}}</p>
                                <div class="flex flex-row justify-between items-center">
                                    <p class="font-poppins font-medium text-primary-gray text-[10px] lg:text-[12px] 2xl:text-[14px] capitalize" >{{this.skin_type.name}}</p>
                                    <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="flex items-center justify-center rounded-[12px] bg-primary-pink px-[16px] py-[4px] hover:scale-105"
                                    data-name="{{this.name}}"
                                    data-description="{{this.description}}"
                                    data-skin-type="{{this.skin_type.name}}"
                                    data-benefit="{{this.benefit}}"
                                    data-ingredient="{{this.ingredient}}"
                                    data-instruction="{{this.instruction}}"
                                    data-image="{{this.detailImage}}"
                                    data-link="{{this.link_url}}">
                                        <p class="font-poppins font-medium text-white text-[12px] lg:text-[12px] 2xl:text-[16px]">Detail</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

        <!-- KATEGORI MOISTURIZER -->
        {{#if moisturizerProducts.length}}
        <div class="w-full bg-[#FFF9FC] py-[20px]">
            <div class="w-full max-w-[350px] lg:max-w-[1050px] 2xl:max-w-[1500px] mx-auto">
                <div class="flex flex-col gap-y-[12px]">
                    <p class="font-poppins text-[20px] text-primary-pink font-bold lg:text-[20px]">MOISTURIZER</p>

                    <!-- PEMBUNGKUS ITEM -->
                    <div class="grid grid-cols-2 lg:grid-cols-4 2xl:grid-cols-6 gap-x-[20px] gap-y-[20px]">
                        <!-- item -->
                        {{#each moisturizerProducts}}
                        <div class="flex flex-col  bg-white  rounded-[12px] shadow-lg">
                            <img src="{{this.image}}" alt="" class="w-full h-full rounded-t-[12px]">
                            <div class="flex flex-col border-x-2 border-b-2 border-primary-pink rounded-b-[12px] px-[12px] py-[8px] gap-y-[8px]">
                                <p class="font-poppins font-bold text-primary-pink text-[12px] text-center lg:text-[14px] 2xl:text-[16px] ">{{this.name}}</p>
                                <div class="flex flex-row justify-between items-center">
                                    <p class="font-poppins font-medium text-primary-gray text-[10px] lg:text-[12px] 2xl:text-[14px] capitalize" >{{this.skin_type.name}}</p>
                                    <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="flex items-center justify-center rounded-[12px] bg-primary-pink px-[16px] py-[4px] hover:scale-105" 
                                    data-name="{{this.name}}"
                                    data-description="{{this.description}}"
                                    data-skin-type="{{this.skin_type.name}}"
                                    data-benefit="{{this.benefit}}"
                                    data-ingredient="{{this.ingredient}}"
                                    data-instruction="{{this.instruction}}"
                                    data-image="{{this.detailImage}}"
                                    data-link="{{this.link_url}}">
                                        <p class="font-poppins font-medium text-white text-[12px] lg:text-[12px] 2xl:text-[16px]">Detail</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

        <!-- KATEGORI SUNSCREEN -->
        {{#if sunscreenProducts.length}}
        <div class="w-full bg-[#FFF9FC] py-[20px]">
            <div class="w-full max-w-[350px] lg:max-w-[1050px] 2xl:max-w-[1500px] mx-auto">
                <div class="flex flex-col gap-y-[12px]">
                    <p class="font-poppins text-[20px] text-primary-pink font-bold lg:text-[20px]">SUNSCREEN</p>
                    <!-- PEMBUNGKUS ITEM -->
                    <div class="grid grid-cols-2 lg:grid-cols-4 2xl:grid-cols-6 gap-x-[20px] gap-y-[20px]">
                        <!-- item -->
                        {{#each sunscreenProducts}}
                        <div class="flex flex-col  bg-white  rounded-[12px] shadow-lg">
                            <img src="{{this.image}}" alt="" class="w-full h-full rounded-t-[12px]">
                            <div class="flex flex-col border-x-2 border-b-2 border-primary-pink rounded-b-[12px] px-[12px] py-[8px] gap-y-[8px]">
                                <p class="font-poppins font-bold text-primary-pink text-[12px] text-center lg:text-[14px] 2xl:text-[16px] ">{{this.name}}</p>
                                <div class="flex flex-row justify-between items-center">
                                    <p class="font-poppins font-medium text-primary-gray text-[10px] lg:text-[12px] 2xl:text-[14px] capitalize" >{{this.skin_type.name}}</p>
                                    <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="flex items-center justify-center rounded-[12px] bg-primary-pink px-[16px] py-[4px] hover:scale-105" 
                                    data-name="{{this.name}}"
                                    data-description="{{this.description}}"
                                    data-skin-type="{{this.skin_type.name}}"
                                    data-benefit="{{this.benefit}}"
                                    data-ingredient="{{this.ingredient}}"
                                    data-instruction="{{this.instruction}}"
                                    data-image="{{this.detailImage}}"
                                    data-link="{{this.link_url}}">
                                        <p class="font-poppins font-medium text-white text-[12px] lg:text-[12px] 2xl:text-[16px]">Detail</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    {{else}}
        <div class="w-full max-w-[350px] lg:max-w-[1050px] 2xl:max-w-[1500px] mx-auto py-20">
            <p class="font-poppins text-[20px] text-gray-400 font-bold lg:text-[20px] text-center">Produk tidak ditemukan!</p>
        </div>
    {{/if}}

     <div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-sm md:max-w-lg lg:max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow-sm">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-200">
                    <h3 class="text-lg font-poppins font-semibold text-gray-900">
                        Detail Produk
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-toggle="crud-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="flex flex-col p-4 gap-y-2">
                    <img id="detailImage" src="" alt="" class="rounded-[12px] h-[225px] md:h-[250px] lg:h-[350px]">
                    <div class="flex flex-col gap-y-1">
                        <p id="detailName" class="font-poppins font-bold text-primary-pink text-[20px]">Anua Hearth Leaf 77%</p>
                        <p id="detailDescription" class="font-poppins font-regular text-primary-gray text-[12px] text-justify">Penjelasan ringkas tentang produk ini, misalnya: Pembersih wajah ringan yang membantu mengangkat kotoran tanpa membuat kulit kering</p>
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <p class="font-poppins font-bold text-primary-pink text-[16px] underline">Jenis Kulit Yang Cocok </p>
                        <p id="detailSkinType" class="font-poppins font-regular text-primary-gray text-[12px] text-justify">Contoh: Kulit Berminyak, Berjerawat, Kombinasi, Kering, Sensitif</p>
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <p class="font-poppins font-bold text-primary-pink text-[16px] underline">Manfaat Utama</p>
                        <p id="detailBenefit" class="font-poppins font-regular text-primary-gray text-[12px] text-justify">Contoh: Kulit Berminyak, Berjerawat, Kombinasi, Kering, Sensitif</p>
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <p class="font-poppins font-bold text-primary-pink text-[16px] underline">Kandungan Utama</p>
                        <p id="detailIngredient" class="font-poppins font-regular text-primary-gray text-[12px] text-justify">Contoh: Kulit Berminyak, Berjerawat, Kombinasi, Kering, Sensitif</p>
                    </div>
                    <div class="flex flex-col gap-y-1 mb-2">
                        <p class="font-poppins font-bold text-primary-pink text-[16px] underline">Cara Penggunaan</p>
                        <p id="detailInstruction" class="font-poppins font-regular text-primary-gray text-[12px] text-justify">Contoh: Kulit Berminyak, Berjerawat, Kombinasi, Kering, Sensitif</p>
                    </div>
                    <a id="detailLink" target="_blank" href="" class="w-full py-2 rounded-[20px] bg-primary-pink hover:scale-105 flex justify-center items-center">
                        <p class="font-bold font-poppins text-[16px] text-white">Beli Produk</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const buttons = document.querySelectorAll('[data-modal-toggle="crud-modal"]');

            buttons.forEach(button => {
            button.addEventListener('click', () => {
                // Ambil data dari atribut tombol
                const name = button.getAttribute('data-name');
                const description = button.getAttribute('data-description');
                const skinType = button.getAttribute('data-skin-type');
                const benefit = button.getAttribute('data-benefit');
                const ingredient = button.getAttribute('data-ingredient');
                const instruction = button.getAttribute('data-instruction');
                const image = button.getAttribute('data-image');
                const link = button.getAttribute('data-link');

                // Masukkan data ke modal
                document.getElementById('detailName').textContent = name;
                document.getElementById('detailDescription').textContent = description;
                document.getElementById('detailSkinType').textContent = skinType;
                document.getElementById('detailBenefit').textContent = benefit;
                document.getElementById('detailIngredient').textContent = ingredient;
                document.getElementById('detailInstruction').textContent = instruction;
                document.getElementById('detailImage').setAttribute('src', image);
                document.getElementById('detailLink').setAttribute('href', link);
            });
            });
        });
        </script>
    {{> navbarScript}}
    {{> flowbite}}
</body>
</html>