<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkinSync Analisis</title>

    {{> font}}
    {{> css}}
</head>
<body>
    <div class="w-full bg-secondary-pink">
        <div class="w-full max-w-[350px] lg:max-w-[1050px] 2xl:max-w-[1500px] mx-auto">
            {{> navbar}}
       </div>
    </div>

    <!-- PEMBUNGKUS -->
     <div class=" flex flex-col gap-y-[20px] max-w-[350px] lg:max-w-[1050px] 2xl:max-w-[1500px] mx-auto py-[20px]">

        <!-- HASIL ANALISIS -->
        <div class="flex flex-col lg:flex-row gap-x-[24px] gap-y-[20px]">
            <img src="{{history.skin_type.image}}" alt="" class=" rounded-[12px]">
            <div class="flex flex-col gap-y-[20px]">
                <p class="font-poppins text-[20px] text-primary-pink font-semibold uppercase">KULIT WAJAH ANDA TERMASUK TIPE {{history.skin_type.name}}</p>
                <p class="font-poppins text-[14px] text-primary-gray ">{{createdAt}}</p>
                <div class="flex flex-col gap-y-[40px]">
                    <!-- PENJELASAN KULIT WAJAH -->
                    <p class="font-poppins text-[14px] text-primary-gray text-justify">{{history.result}}</p>
                    <!-- INPUTAN PERMASALAHAN KULIT USER SEBELUMNYA -->
                    <div class="flex flex-col gap-y-[16px]">
                        <p class="font-poppins text-[20px] text-primary-pink font-semibold underline">PERMASALAHAN KULIT SEBELUMNYA</p>
                        <p class="font-poppins text-[14px] text-primary-gray text-justify">{{history.content}}</p>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- CARA PENYEBAB KULIT WAJAH -->
        {{#if history.cause}}
        <div class="flex flex-col gap-y-[16px]">
            <p class="font-poppins text-[20px] text-primary-pink font-semibold underline uppercase">PENYEBAB PERMASALAHAN {{history.skin_type.name}}</p>
            <p class="font-poppins text-[14px] text-primary-gray text-justify first-letter:capitalize">{{history.cause}}</p>
        </div>
        {{/if}}

        <!-- CARA PERAWATAN KULIT WAJAH -->
        <div class="flex flex-col gap-y-[16px]">
            <p class="font-poppins text-[20px] text-primary-pink font-semibold underline uppercase">PERAWATAN {{history.skin_type.name}}</p>
            <p class="font-poppins text-[14px] text-primary-gray text-justify first-letter:capitalize">{{history.treatment}}</p>
        </div>

        <!-- BAHAN SKINCARE -->
        <div class="flex flex-col gap-y-[16px]">
            <p class="font-poppins text-[20px] text-primary-pink font-semibold underline uppercase">Kandungan Bahan Skincare Yang Baik Digunakan</p>
            <div class="flex flex-col">
                {{#each bahanDipakai}}
                    <p class="font-poppins text-[14px] text-primary-gray text-start">{{inc @index}}. {{this}}</p>
                {{/each}}
            </div>
        </div>

        <div class="flex flex-col gap-y-[16px]">
            <p class="font-poppins text-[20px] text-primary-pink font-semibold underline uppercase">Kandungan Bahan Skincare Yang Harus Dihindari</p>
            <div class="flex flex-col">
                {{#each bahanDihindari}}
                    <p class="font-poppins text-[14px] text-primary-gray text-start">{{inc @index}}. {{this}}</p>
                {{/each}}
            </div>
        </div>

        <!-- REKOMENDASI SKINCARE -->
        <div class="flex flex-col gap-y-[16px]">
            <div class="flex flex-row justify-between items-center">
                <p class="font-poppins text-[20px] text-primary-pink font-semibold underline uppercase">REKOMENDASI SKINCARE {{history.skin_type.name}}</p>
                <a href="/products?skinType={{history.skin_type.name}}" class="flex justify-center items-center rounded-[8px] bg-primary-pink px-[16px] py-[4px] hover:scale-105">
                    <p class="font-poppins text-[16px] text-white">Selengkapnya</p>
                </a>
            </div>
            
            <div class="grid grid-cols-2 lg:grid-cols-3 2xl:grid-cols-6 gap-x-[20px] gap-y-[20px]">
                    <!-- item -->
                    {{#each products}}
                    <div class="flex flex-col  bg-white  rounded-[12px] shadow-lg relative">
                        <div class="bg-secondary-pink rounded-bl-[12px] rounded-tr-[12px] absolute top-0 right-0 flex justify-center items-center px-3 py-2">
                            <p class="uppercase font-poppins font-bold text-[12px] text-primary-pink">{{this.category}}</p>
                        </div>
                        <img src="{{this.image}}" alt="" class="w-full h-full rounded-t-[12px]">
                        <div class="flex flex-col border-x-2 border-b-2 border-primary-pink rounded-b-[12px] px-[12px] py-[8px] gap-y-[8px]">
                            <p class="font-poppins font-bold text-primary-pink text-[12px] text-center lg:text-[14px] 2xl:text-[16px] ">{{this.name}}</p>
                            <div class="flex flex-row justify-between items-center">
                                <div class="flex flex-row gap-x-2 items-center w-fit">
                                    <svg height="35px" width="35px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <polygon style="fill:#F0AEB0;" points="427.694,75.933 235.357,256.963 354.838,256.963 477.293,126.86 "></polygon> <path style="fill:#F0AEB0;" d="M471.149,244.078L285.957,461.95c120.328,0,217.872-97.545,217.872-217.872H471.149z"></path> </g> <g> <path style="fill:#F7CAC9;" d="M8.17,244.078c0,46.406,34.544,84.744,79.32,90.702v-0.698 c34.257,75.42,110.235,127.869,198.468,127.869c102.278,0,185.191-97.545,185.191-217.872H8.17V244.078z"></path> <path style="fill:#F7CAC9;" d="M498.022,112.661l-56.817-56.817c-7.742-7.743-20.296-7.743-28.038,0 c-7.742,7.742-7.742,20.296,0,28.039l56.817,56.817c7.742,7.743,20.296,7.743,28.038,0 C505.766,132.956,505.766,120.404,498.022,112.661z"></path> </g> <path d="M503.842,235.908l-117.811-0.168l81.401-86.491c10.947,8.048,26.473,7.124,36.367-2.771 c5.288-5.288,8.201-12.318,8.201-19.797c0-7.478-2.912-14.509-8.2-19.797l-56.817-56.817c-10.918-10.916-28.676-10.916-39.594,0 c-9.896,9.896-10.821,25.419-2.771,36.367L247.116,234.668c-0.291,0.273-0.548,0.568-0.789,0.871L8.182,235.199 c-0.004,0-0.008,0-0.012,0c-2.165,0-4.242,0.859-5.774,2.389C0.863,239.12,0,241.2,0,243.369c0,48.251,34.921,89.647,81.941,98.102 c13.287,27.784,32.244,52.826,55.898,73.362c19.077,16.562,40.645,29.661,63.729,38.947h-13.653c-4.513,0-8.17,3.658-8.17,8.17 c0,4.512,3.657,8.17,8.17,8.17H384c4.513,0,8.17-3.658,8.17-8.17c0-4.512-3.657-8.17-8.17-8.17h-13.687 C453.29,420.281,512,338.912,512,244.078C512,239.57,508.348,235.914,503.842,235.908z M415.943,98.215l22.204,22.203 c1.596,1.595,3.688,2.393,5.778,2.393c2.09,0,4.182-0.797,5.778-2.393c3.191-3.191,3.191-8.364,0-11.554L421.909,81.07 c-0.005-0.005-0.01-0.011-0.015-0.016l-2.949-2.948c-4.545-4.545-4.545-11.939,0-16.484c4.545-4.545,11.938-4.545,16.483,0 l56.818,56.818c2.201,2.202,3.414,5.129,3.414,8.242s-1.212,6.041-3.415,8.242c-4.544,4.544-11.937,4.545-16.483,0l-2.949-2.949 c-1.563-1.563-3.662-2.404-5.901-2.392c-2.209,0.033-4.312,0.96-5.827,2.57l-96.816,102.868c-0.208,0.221-0.399,0.452-0.577,0.69 l-93.694-0.134L415.943,98.215z M285.957,453.78c-102.928,0-192.073-76.625-207.358-178.236c-0.61-4.05-4.095-6.956-8.069-6.956 c-0.404,0-0.814,0.029-1.226,0.093c-4.463,0.671-7.536,4.832-6.865,9.294c2.307,15.335,6.191,30.303,11.532,44.689 c-31.16-10.111-53.966-38.08-57.229-71.112l478.759,0.684C491.203,364.102,398.857,453.78,285.957,453.78z"></path> </g></svg>
                                    <p class="font-poppins font-medium text-black text-[10px] lg:text-[12px] 2xl:text-[14px]">: {{this.good_ingredient}}</p>
                                </div>
                                <div class="flex flex-row gap-x-2 items-center w-fit">
                                    <svg height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#464655;" d="M509.435,448.962L271.75,44.367c-7.076-12.045-24.424-12.045-31.5,0L2.565,448.962 c-7.194,12.245,1.595,27.705,15.75,27.705h475.368C507.839,476.666,516.629,461.207,509.435,448.962z"></path> <path style="fill:#5B5D6E;" d="M310.09,109.633c-75.525,54.5-124.731,143.208-124.731,243.46c0,44.069,9.578,85.877,26.64,123.573 h281.685c14.155,0,22.944-15.459,15.75-27.705L310.09,109.633z"></path> <path style="fill:#FFDC64;" d="M252.195,93.738L53.788,431.474c-2.57,4.374,0.585,9.885,5.658,9.885h393.11 c5.073,0,8.228-5.511,5.658-9.885L259.805,93.738C258.099,90.834,253.901,90.834,252.195,93.738z"></path> <path style="fill:#FFF082;" d="M185.36,353.093c0,30.722,4.638,60.357,13.216,88.267h253.98c5.073,0,8.228-5.511,5.658-9.885 L282.389,132.181C222.755,187.029,185.36,265.683,185.36,353.093z"></path> <g> <circle style="fill:#464655;" cx="256.028" cy="379.568" r="17.653"></circle> <path style="fill:#464655;" d="M239.049,213.171l7.566,113.485c0.33,4.948,4.174,8.784,8.805,8.784h1.216 c4.631,0,8.475-3.834,8.805-8.784l7.566-113.485c0.365-5.475-3.682-10.131-8.805-10.131h-16.347 C242.731,203.04,238.684,207.697,239.049,213.171z"></path> </g> <path style="fill:#FFC850;" d="M452.556,450.186H59.442c-5.499,0-10.62-2.966-13.353-7.741c-2.733-4.78-2.698-10.697,0.086-15.442 L244.587,89.258c2.405-4.086,6.672-6.525,11.422-6.525c4.741,0,9.008,2.439,11.413,6.525l198.401,337.744 c2.784,4.75,2.819,10.667,0.086,15.442C463.176,447.22,458.055,450.186,452.556,450.186z M63.399,432.533h385.201L255.998,104.684 L63.399,432.533z"></path> <path style="fill:#FFDC64;" d="M448.599,432.533H196.069c1.633,5.964,3.455,11.844,5.441,17.653h251.048 c5.499,0,10.62-2.966,13.353-7.741c2.733-4.775,2.698-10.692-0.086-15.442L289.135,126.224c-4.553,3.944-9,8.005-13.307,12.212 L448.599,432.533z"></path> </g></svg>
                                    <p class="font-poppins font-medium text-black text-[10px] lg:text-[12px] 2xl:text-[14px]">: {{this.bad_ingredient}}</p>
                                </div>
                            </div>
                            <div class="flex flex-row justify-between items-center">
                                <p class="font-poppins font-medium text-primary-gray text-[10px] lg:text-[12px] 2xl:text-[14px] capitalize" >{{this.skin_type.name}}</p>
                                <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="flex items-center justify-center rounded-[12px] bg-primary-pink px-[16px] py-[4px] hover:scale-105" 
                                data-name="{{this.name}}"
                                data-description="{{this.description}}"
                                data-skin-type="{{this.skin_type.name}}"
                                data-benefit="{{this.benefit}}"
                                data-ingredient="{{{this.ingredient}}}"
                                data-instruction="{{this.instruction}}"
                                data-image="{{this.detailImage}}"
                                data-link="{{this.link_url}}">
                                    <p class="font-poppins font-medium text-white text-[12px] lg:text-[12px] 2xl:text-[16px]">Detail</p>
                                </button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
            </div>
        </div>

        <!-- ARTIKEL KULIT WAJAH -->
         <div class="flex flex-col gap-y-[16px]">
            <p class="font-poppins text-[20px] text-primary-pink font-semibold underline uppercase"> ARTIKEL KULIT {{history.skin_type.name}}</p>
            <div class="grid grid-cols-1 lg:grid-cols-3 2xl:grid-cols-4 gap-x-[12px] gap-y-[12px]">
                {{#each articles}}
                    <a target="_blank" href="{{this.link_url}}" class="relative hover:scale-105">
                        <img src="{{this.image}}" alt="" class="w-full opacity-0 pointer-events-none select-none">
                        <img src="{{this.image}}" alt="" class="w-full h-full absolute z-10 top-0 left-0 rounded-[18px]">
                        <div class="opacity-80 w-full bg-[#D9D9D9] rounded-b-[18px] absolute z-20 bottom-0 left-0 ps-[12px] py-[6px]">
                            <p class="font-bold font-poppins text-[12px] text-primary-black text-start">{{this.title}}</p>
                        </div>
                    </a>
                {{/each}}
            </div>
         </div>
     </div>



     <div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-sm md:max-w-lg lg:max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow-sm">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-200">
                    <h3 class="text-lg font-poppins font-semibold text-gray-900">
                        Detail Produk
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-toggle="crud-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="flex flex-col p-4 gap-y-2">
                    <img id="detailImage" src="" alt="" class="rounded-[12px] h-[225px] md:h-[250px] lg:h-[350px]">
                    <div class="flex flex-col gap-y-1">
                        <p id="detailName" class="font-poppins font-bold text-primary-pink text-[20px]">Anua Hearth Leaf 77%</p>
                        <p id="detailDescription" class="font-poppins font-regular text-primary-gray text-[12px] text-justify">Penjelasan ringkas tentang produk ini, misalnya: Pembersih wajah ringan yang membantu mengangkat kotoran tanpa membuat kulit kering</p>
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <p class="font-poppins font-bold text-primary-pink text-[16px] underline">Jenis Kulit Yang Cocok </p>
                        <p id="detailSkinType" class="font-poppins font-regular text-primary-gray text-[12px] text-justify">Contoh: Kulit Berminyak, Berjerawat, Kombinasi, Kering, Sensitif</p>
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <p class="font-poppins font-bold text-primary-pink text-[16px] underline">Manfaat Utama</p>
                        <p id="detailBenefit" class="font-poppins font-regular text-primary-gray text-[12px] text-justify">Contoh: Kulit Berminyak, Berjerawat, Kombinasi, Kering, Sensitif</p>
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <p class="font-poppins font-bold text-primary-pink text-[16px] underline">Kandungan Utama</p>
                        <div id="detailIngredient" class="font-poppins font-regular text-primary-gray text-[12px] text-justify">Contoh: Kulit Berminyak, Berjerawat, Kombinasi, Kering, Sensitif</div>
                    </div>
                    <div class="flex flex-col gap-y-1 mb-2">
                        <p class="font-poppins font-bold text-primary-pink text-[16px] underline">Cara Penggunaan</p>
                        <p id="detailInstruction" class="font-poppins font-regular text-primary-gray text-[12px] text-justify">Contoh: Kulit Berminyak, Berjerawat, Kombinasi, Kering, Sensitif</p>
                    </div>
                    <a id="detailLink" target="_blank" href="" class="w-full py-2 rounded-[20px] bg-primary-pink hover:scale-105 flex justify-center items-center">
                        <p class="font-bold font-poppins text-[16px] text-white">Beli Produk</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const buttons = document.querySelectorAll('[data-modal-toggle="crud-modal"]');

            buttons.forEach(button => {
            button.addEventListener('click', () => {
                // Ambil data dari atribut tombol
                const name = button.getAttribute('data-name');
                const description = button.getAttribute('data-description');
                const skinType = button.getAttribute('data-skin-type');
                const benefit = button.getAttribute('data-benefit');
                const ingredient = button.getAttribute('data-ingredient');
                const instruction = button.getAttribute('data-instruction');
                const image = button.getAttribute('data-image');
                const link = button.getAttribute('data-link');

                // Masukkan data ke modal
                document.getElementById('detailName').textContent = name;
                document.getElementById('detailDescription').textContent = description;
                document.getElementById('detailSkinType').textContent = skinType;
                document.getElementById('detailBenefit').textContent = benefit;
                document.getElementById('detailIngredient').innerHTML = ingredient;
                document.getElementById('detailInstruction').textContent = instruction;
                document.getElementById('detailImage').setAttribute('src', image);
                document.getElementById('detailLink').setAttribute('href', link);
            });
            });
        });
        </script>
     {{> navbarScript}}
     {{> flowbite}}
</body>
</html>