<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkinSync Analisis</title>

    {{> font}}
    {{> css}}
</head>
<body>
    <div class="w-full bg-secondary-pink">
        <div class="w-full max-w-[350px] lg:max-w-[1050px] 2xl:max-w-[1500px] mx-auto">
            {{> navbar}}
       </div>
    </div>

    <!-- PEMBUNGKUS -->
     <div class=" flex flex-col gap-y-[20px] max-w-[350px] lg:max-w-[1050px] 2xl:max-w-[1500px] mx-auto py-[20px]">

        <!-- HASIL ANALISIS -->
        <div class="flex flex-col lg:flex-row gap-x-[24px] gap-y-[20px]">
            <img src="{{history.skin_type.image}}" alt="" class=" rounded-[12px]">
            <div class="flex flex-col gap-y-[20px]">
                <p class="font-poppins text-[20px] text-primary-pink font-semibold uppercase">KULIT WAJAH ANDA TERMASUK TIPE {{history.skin_type.name}}</p>
                <p class="font-poppins text-[14px] text-primary-gray ">{{createdAt}}</p>
                <div class="flex flex-col gap-y-[40px]">
                    <!-- PENJELASAN KULIT WAJAH -->
                    <p class="font-poppins text-[14px] text-primary-gray text-justify">{{history.result}}</p>
                    <!-- INPUTAN PERMASALAHAN KULIT USER SEBELUMNYA -->
                    <div class="flex flex-col gap-y-[16px]">
                        <p class="font-poppins text-[20px] text-primary-pink font-semibold underline">PERMASALAHAN KULIT SEBELUMNYA</p>
                        <p class="font-poppins text-[14px] text-primary-gray text-justify">{{history.content}}</p>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- CARA PENYEBAB KULIT WAJAH -->
        {{#if history.cause}}
        <div class="flex flex-col gap-y-[16px]">
            <p class="font-poppins text-[20px] text-primary-pink font-semibold underline uppercase">PENYEBAB PERMASALAHAN {{history.skin_type.name}}</p>
            <p class="font-poppins text-[14px] text-primary-gray text-justify first-letter:capitalize">{{history.cause}}</p>
        </div>
        {{/if}}

        <!-- CARA PERAWATAN KULIT WAJAH -->
        <div class="flex flex-col gap-y-[16px]">
            <p class="font-poppins text-[20px] text-primary-pink font-semibold underline uppercase">PERAWATAN {{history.skin_type.name}}</p>
            <p class="font-poppins text-[14px] text-primary-gray text-justify first-letter:capitalize">{{history.treatment}}</p>
        </div>

        <!-- BAHAN SKINCARE -->
        <div class="flex flex-col gap-y-[16px]">
            <p class="font-poppins text-[20px] text-primary-pink font-semibold underline uppercase">Kandungan Bahan Skincare Yang Baik Digunakan</p>
            <div class="flex flex-col">
                {{#each bahanDipakai}}
                    <p class="font-poppins text-[14px] text-primary-gray text-start">{{inc @index}}. {{this}}</p>
                {{/each}}
            </div>
        </div>

        <div class="flex flex-col gap-y-[16px]">
            <p class="font-poppins text-[20px] text-primary-pink font-semibold underline uppercase">Kandungan Bahan Skincare Yang Harus Dihindari</p>
            <div class="flex flex-col">
                {{#each bahanDihindari}}
                    <p class="font-poppins text-[14px] text-primary-gray text-start">{{inc @index}}. {{this}}</p>
                {{/each}}
            </div>
        </div>

        <!-- REKOMENDASI SKINCARE -->
        <div class="flex flex-col gap-y-[16px]">
            <p class="font-poppins text-[20px] text-primary-pink font-semibold underline uppercase">REKOMENDASI SKINCARE {{history.skin_type.name}}</p>
            <div class="grid grid-cols-2 lg:grid-cols-3 2xl:grid-cols-6 gap-x-[20px] gap-y-[20px]">
                    <!-- item -->
                    {{#each products}}
                    <div class="flex flex-col  bg-white  rounded-[12px] shadow-lg relative">
                        <div class="bg-secondary-pink rounded-bl-[12px] rounded-tr-[12px] absolute top-0 right-0 flex justify-center items-center px-3 py-2">
                            <p class="uppercase font-poppins font-bold text-[12px] text-primary-pink">{{this.category}}</p>
                        </div>
                        <img src="{{this.image}}" alt="" class="w-full h-full rounded-t-[12px]">
                        <div class="flex flex-col border-x-2 border-b-2 border-primary-pink rounded-b-[12px] px-[12px] py-[8px] gap-y-[8px]">
                            <p class="font-poppins font-bold text-primary-pink text-[12px] text-center lg:text-[14px] 2xl:text-[16px] ">{{this.name}}</p>
                            <div class="flex flex-row justify-between items-center">
                                <p class="font-poppins font-medium text-primary-gray text-[10px] lg:text-[12px] 2xl:text-[14px] capitalize" >{{this.skin_type.name}}</p>
                                <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="flex items-center justify-center rounded-[12px] bg-primary-pink px-[16px] py-[4px] hover:scale-105" 
                                data-name="{{this.name}}"
                                data-description="{{this.description}}"
                                data-skin-type="{{this.skin_type.name}}"
                                data-benefit="{{this.benefit}}"
                                data-ingredient="{{this.ingredient}}"
                                data-instruction="{{this.instruction}}"
                                data-image="{{this.detailImage}}"
                                data-link="{{this.link_url}}">
                                    <p class="font-poppins font-medium text-white text-[12px] lg:text-[12px] 2xl:text-[16px]">Detail</p>
                                </button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
            </div>
        </div>

        <!-- ARTIKEL KULIT WAJAH -->
         <div class="flex flex-col gap-y-[16px]">
            <p class="font-poppins text-[20px] text-primary-pink font-semibold underline uppercase"> ARTIKEL KULIT {{history.skin_type.name}}</p>
            <div class="grid grid-cols-1 lg:grid-cols-3 2xl:grid-cols-4 gap-x-[12px] gap-y-[12px]">
                {{#each articles}}
                    <a target="_blank" href="{{this.link_url}}" class="relative hover:scale-105">
                        <img src="{{this.image}}" alt="" class="w-full opacity-0 pointer-events-none select-none">
                        <img src="{{this.image}}" alt="" class="w-full h-full absolute z-10 top-0 left-0 rounded-[18px]">
                        <div class="opacity-80 w-full bg-[#D9D9D9] rounded-b-[18px] absolute z-20 bottom-0 left-0 ps-[12px] py-[6px]">
                            <p class="font-bold font-poppins text-[12px] text-primary-black text-start">{{this.title}}</p>
                        </div>
                    </a>
                {{/each}}
            </div>
         </div>
     </div>



     <div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-sm md:max-w-lg lg:max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow-sm">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-200">
                    <h3 class="text-lg font-poppins font-semibold text-gray-900">
                        Detail Produk
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-toggle="crud-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="flex flex-col p-4 gap-y-2">
                    <img id="detailImage" src="" alt="" class="rounded-[12px] h-[225px] md:h-[250px] lg:h-[350px]">
                    <div class="flex flex-col gap-y-1">
                        <p id="detailName" class="font-poppins font-bold text-primary-pink text-[20px]">Anua Hearth Leaf 77%</p>
                        <p id="detailDescription" class="font-poppins font-regular text-primary-gray text-[12px] text-justify">Penjelasan ringkas tentang produk ini, misalnya: Pembersih wajah ringan yang membantu mengangkat kotoran tanpa membuat kulit kering</p>
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <p class="font-poppins font-bold text-primary-pink text-[16px] underline">Jenis Kulit Yang Cocok </p>
                        <p id="detailSkinType" class="font-poppins font-regular text-primary-gray text-[12px] text-justify">Contoh: Kulit Berminyak, Berjerawat, Kombinasi, Kering, Sensitif</p>
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <p class="font-poppins font-bold text-primary-pink text-[16px] underline">Manfaat Utama</p>
                        <p id="detailBenefit" class="font-poppins font-regular text-primary-gray text-[12px] text-justify">Contoh: Kulit Berminyak, Berjerawat, Kombinasi, Kering, Sensitif</p>
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <p class="font-poppins font-bold text-primary-pink text-[16px] underline">Kandungan Utama</p>
                        <p id="detailIngredient" class="font-poppins font-regular text-primary-gray text-[12px] text-justify">Contoh: Kulit Berminyak, Berjerawat, Kombinasi, Kering, Sensitif</p>
                    </div>
                    <div class="flex flex-col gap-y-1 mb-2">
                        <p class="font-poppins font-bold text-primary-pink text-[16px] underline">Cara Penggunaan</p>
                        <p id="detailInstruction" class="font-poppins font-regular text-primary-gray text-[12px] text-justify">Contoh: Kulit Berminyak, Berjerawat, Kombinasi, Kering, Sensitif</p>
                    </div>
                    <a id="detailLink" target="_blank" href="" class="w-full py-2 rounded-[20px] bg-primary-pink hover:scale-105 flex justify-center items-center">
                        <p class="font-bold font-poppins text-[16px] text-white">Beli Produk</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const buttons = document.querySelectorAll('[data-modal-toggle="crud-modal"]');

            buttons.forEach(button => {
            button.addEventListener('click', () => {
                // Ambil data dari atribut tombol
                const name = button.getAttribute('data-name');
                const description = button.getAttribute('data-description');
                const skinType = button.getAttribute('data-skin-type');
                const benefit = button.getAttribute('data-benefit');
                const ingredient = button.getAttribute('data-ingredient');
                const instruction = button.getAttribute('data-instruction');
                const image = button.getAttribute('data-image');
                const link = button.getAttribute('data-link');

                // Masukkan data ke modal
                document.getElementById('detailName').textContent = name;
                document.getElementById('detailDescription').textContent = description;
                document.getElementById('detailSkinType').textContent = skinType;
                document.getElementById('detailBenefit').textContent = benefit;
                document.getElementById('detailIngredient').textContent = ingredient;
                document.getElementById('detailInstruction').textContent = instruction;
                document.getElementById('detailImage').setAttribute('src', image);
                document.getElementById('detailLink').setAttribute('href', link);
            });
            });
        });
        </script>
     {{> navbarScript}}
     {{> flowbite}}
</body>
</html>